@font-face { 
	font-family: 'TT Lakes'; 
	src: url('./TT Lakes/TTLakes-Regular.woff2') format('woff2'), 
	url('./TT Lakes/TTLakes-Regular.woff') format('woff'); 
	font-weight: 400; 
	font-style: normal; 
} 

@font-face { 
	font-family: 'TT Lakes';
	src: url('./TT Lakes/TTLakes-Medium.woff2') format('woff2'), 
	url('./TT Lakes/TTLakes-Medium.woff') format('woff'); 
	font-weight: 500; 
	font-style: normal; 
	} 
	
	@font-face { 
	font-family: 'TT Lakes'; 
	src: url('./TT Lakes/TTLakes-Bold.woff2') format('woff2'), 
	url('./TT Lakes/TTLakes-Bold.woff') format('woff'); 
	font-weight: 700; 
	font-style: normal;
	}

body {
  font-family: 'TT Lakes', sans-serif;
  margin: 0;
	padding: 0;
  background: #F8F8F8;
  color: #1B1C21;
	Width: 320px;
}

.header { 
	background-color: #FFFFFF; 
	border-bottom: 1px solid #D9FFF5; 
	height: 88px; 
	display: flex; 
	align-items: center;
}

.header__container {
	display: flex;
	align-items: center; 
	padding: 0 16px 0; 
	gap: 16px; 
	box-sizing: border-box;
	width: 100%;
} 

.header__icon { 
	width: 40px; 
	height: 40px; 
	flex-shrink: 0;
}

.header__logo { 
	width: 96px; 
	height: 50px; 
	flex-shrink: 0; 
} 

.verticalLine { 
	width: 2px; 
	height: 32px; 
	flex-shrink: 0;
	background-color: #EAEAEA; 
	border-radius: 1px; 
}




.section {

}

.section__highlight {

}

.section__title {

}

.section__button {
	display: inline-block; 
	padding: auto; 
	background-color: #FFFFFF; 
	color: #7E7E82; 
	border: 2px solid #D9FFF5;
	border-radius: 4px; 
	margin-bottom: 16px; 
	white-space: nowrap;
	Width: 246px;
	Height: 40px;
	margin-top: 0;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-left: 16px;
}



.services__text {

}

.section__detailed {

}

.section__detailed__icon {

}

.section__photo {
	Width: 320px;
	Height: 176px;
}