body {
  font-family: '/TT Lakes';
  margin: 0;
  background: #F8F8F8;
  color: #1B1C21;
	Width: 320px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #D9FFF5;
}

.main__button {
	display: inline-block; 
	padding: auto; 
	background-color: #FFFFFF; 
	color: #7E7E82; 
	border: 2px solid #D9FFF5;
	border-radius: 4px; 
	margin-bottom: 16px; 
	white-space: nowrap;
	Width: 246px;
	Height: 40px;
	margin-top: 0;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-left: 16px;
}

.main__photo {
	Width: 320px;
	Height: 176px;
}

